body {
         padding-top: 50px;
     }
@media screen and (max-width: 768px) {
    body { padding-top: 40px; }

}

.side-nav
{
    background-color: #222;
    position: absolute;
    height: 100%;
    width: 200px;
    z-index: 1;
}

.side-nav>li>a {
        width:200px;
        font-size: 18px;
        color: white;
    }

    .side-nav li a:hover,
    .side-nav li a:focus
    {
        outline: none;
        background-color: #000 !important;
    }


.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}




